<h1>admin</h1>
<nav>

    <a href="/UsersControl">res.render('UsersControl');</a>
    <a href="/addTest">
        <div class="nav_item">Додати тест</div>
    </a>
    <a href="/addGroup">
        <div class="nav_item">Додати Group</div>
    </a>
</nav>