<div class="wrap_container_auth">
    <div class="container_auth">
        <div class="tabs">
            <div id="tab_sign_in">Вход</div>
            <div id="tab_sign_up">регистрация</div>
        </div>
        <div class="container_for_form">

            <div class="SignIn">
                {{!-- <h3>{{this.m}}</h3> --}}
                <form method='post' action='/users/login' id="SignInForm">
                    <div class="error_login">
                        asdas
                    </div>
                    <div>
                        <input type="text" id="login" name="email" placeholder="email">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="password">
                    </div>

                    <div class="for_btn_flex">
                        <input type="submit" class="btn_submit" value="Войти">
                    </div>

                </form>
            </div>
            <div class="SignUp">
                <form method="post" action="/users/" id="SignUpForm">
                    <input type="text" name="name" placeholder="Имя" alt=" asdasdasdasda asd asdasd as a sdas da s" />
                    <input type="text" name="lastname" placeholder="Фамилия" />
                    <input type="text" name="group" placeholder="Група" />
                    <input type="text" name="email" placeholder="email" />
                    {{!-- <input type="text" name="photo" placeholder="photo URL" /> --}}
                    <input type="password" name="password" placeholder="пароль" />
                    <input type="password" name="password_2" placeholder="повторите пароль" />
                    <div class="for_btn_flex">
                        <input type="submit" class="btn_submit" value="Зарегистрироваться">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="decor2">
    <div class="decor">
        <div class="text-decor">
            Проходи тесты, качай скиллы
        </div>
        <img src="../images/test.png" alt="">
    </div>
</div>

<div class="logo">
    <div id="m">m</div>
    <div id="y">y</div>
    <div id="t1">t</div>
    <div id="e">e</div>
    <div id="s1">s</div>
    <div id="t2">t</div>
    <div id="s2">s</div>
</div>