<!DOCTYPE html>
<html>

<head>
  <title>
    My test
  </title>
  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/classmates.css' />
  <link rel='stylesheet' href='/stylesheets/about_user.css' />
  <link rel='stylesheet' href='/stylesheets/formAuth.css' />
  <link rel='stylesheet' href='/stylesheets/chat.css' />
  <link rel='stylesheet' href='/stylesheets/chat_main.css' />
</head>

<body>
  {{{body}}}

</body>
<script src="/javascripts/main.js"></script>

</html>