{{>nav}}
<link rel='stylesheet' href='/stylesheets/setting.css' />

<H1>G SDJF JK</H1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste ipsum error doloremque quia assumenda minus,
eligendi expedita eius velit maiores nam pariatur autem ducimus, nisi cum distinctio voluptatum sequi.

{{user.name}}
<img src="{{user.photo}}" alt="">