@import url('https://fonts.googleapis.com/css?family=Poppins');
.about_user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    color: cornsilk;
    font-family: "Poppins", sans-serif;
}
.about_user div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.about_user div input{
    margin: 0px;
}
.other {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    color: cornsilk;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
}
.other div{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    color: cornsilk;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}
.other div div{
    margin: 10px;
}