@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.wrap_container_auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 87, 146);
  background: rgb(0, 0, 70);
  color: rgb(0, 0, 70);
  background: linear-gradient(
    164deg,
    rgba(0, 0, 70, 1) 0%,
    rgba(28, 181, 224, 1) 100%
  );
  font-family: "Oswald", sans-serif;
}

.container_auth {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 242px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 70);
  border-radius: 20px;
  box-shadow: -8px 8px 25px 1px rgba(0, 0, 0, 0.568);
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.tabs {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: rgb(0, 0, 70);
  border-radius: 20px 20px 0 0;
  margin-top: -1px;
}

.tabs div {
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  transition: ease-out 0.3s;
}

.tabs div:first-child {
  border-radius: 20px 20px 0 0;
  background-color: white;
  color: rgb(0, 0, 70);
}
.tabs div:last-child {
  border-radius: 20px 20px 0 0;
  color: white;
}

.container_auth input[type="text"],
.container_auth input[type="password"] {
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 87, 146);
  color: rgb(0, 87, 146);
  text-align: center;
  margin-top: 25px;
  font-size: 1.2em;
}

.container_auth input[type="text"]:focus,
.container_auth input[type="password"]:focus {
  outline: none;
}
.container_for_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
}
.container_auth ::placeholder {
  color: rgb(0, 87, 146);
  text-align: center;
}
.danger_placeholder {
  width: 100%;
  color: red;
}
.danger_placeholder ::-webkit-input-placeholder {
  color: red;
}
.for_btn_flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.btn_submit {
  width: 200px;
  background-color: rgb(0, 87, 146);
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.btn_submit:hover {
  background-color: rgba(0, 0, 70, 1);
  transition: ease-in-out 0.5s;
}
.decor {
  position: fixed;
  top: 105px;
  right: 40px;
  animation-name: decor;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 3s;
}
.decor2 {
  position: fixed;
  top: 0;
  right: 0;
  animation-name: decor2;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.text-decor {
  color: white;
  font-size: 3em;
  top: -50px;
  right: 173px;
  position: fixed;
  font-family: "Oswald", sans-serif;
  animation-name: decor3;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.decor img {
  width: 200px;
  height: 200px;
  animation-name: rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.SignUp,
.SignIn {
  animation-name: decor4;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
.SignUp {
  display: none;
}
.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  font-size: 5em;
  color: white;
}
#m {
  text-align: center;
  text-transform: uppercase;
  animation-name: logo;
  animation-duration: 1.3s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 30px;
}
#y {
  text-align: center;
  /* text-transform: uppercase; */
  animation-name: logo;
  animation-duration: 1.5s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 80px;
}
#t1 {
  text-align: center;
  text-transform: uppercase;
  animation-name: logo;
  animation-duration: 1.8s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 130px;
}
#e {
  text-align: center;
  /* text-transform: uppercase; */
  animation-name: logo;
  animation-duration: 2.1s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 160px;
}
#s1 {
  text-align: center;
  /* text-transform: uppercase; */
  animation-name: logo;
  animation-duration: 2.4s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 190px;
}
#t2 {
  text-align: center;
  /* text-transform: uppercase; */
  animation-name: logo;
  animation-duration: 2.9s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 215px;
}
#s2 {
  text-align: center;
  /* text-transform: uppercase; */
  animation-name: logo;
  animation-duration: 3.2s;
  position: fixed;
  width: 100px;
  height: 100px;
  /* background-color: turquoise; */
  left: 240px;
}
@keyframes logo {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 30px;
  }
}
@keyframes decor {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes decor2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes decor3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes decor4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
